body {
  font-size: 4rem;
  text-align: center;
  color: #fff;
}

/* 스크롤 스냅 설정 */
.container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
.area {
  /* 영역 시작점에서 스크롤이 멈춤 */
  /* 표시하는 요소가 세로로 나열되었다면 상단이, 가로로 나열되었다면 좌측이 기준점 */
  scroll-snap-align: start;
  height: 70vh;
}

/* 각 영역 배경 색 */
.area:nth-child(even) {
  background-color: #ffce53;
}
.area:nth-child(odd) {
  background-color: #0bd;
}
